name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Backend Docker Image
        run: |
          cd backend
          docker build -t task-manager-backend .

      - name: Run Backend Container
        run: |
          docker run -d -p 5000:5000 task-manager-backend

      - name: Health Check
        run: |
          sleep 5
          curl http://localhost:5000/health
